// body{
//   font-family: 'Indie Flower', cursive;
// }
.meanwhile img{
    height:150px !important;
  }
body h1, h2, h3, h4, h5, h6{
  font-family: 'Audiowide', cursive;
}
body h1{
  font-family: 'Audiowide', cursive;
  font-size: 10px;
}
body a {
  color:black;
  text-decoration: none;
}

body a:hover{
   color:#E20909;
  text-decoration: none;

}

body strong{
  color:#E20909;
}
.avatar-xs img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px grey;
  border: 5px solid #000000;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.footertext {
background-color: #3E3E3E !important;
padding-top: 30px;
padding-bottom: 30px;
color: white;
}
