<div class="about padded"">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <%= image_tag("logo.png")%>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled">
      <h2>PTY Brothers</h2>
      <li><p><strong>CEO</strong> Francisco J. Dutary</p></li>
      <li><p> <strong>#</strong> 6666-1442</p></li>
      <li><p><strong>CO-Founder</strong> Leo</p></li>
      <li><p><strong>#</strong> 6288-3330</p></p></li>
      <p><strong> Ptybrothers </strong>es un movimiento que fue creado con el principal motivo de mantener la escena de los deportes extremos  viva en Panamá. Nuestro objetivo es brindar apoyo a riders mediante material audiovisual de alta calidad que demuestre su talento, poniendo así a Panamá en el mapa de los deportes extremos.</p>
      <li><p><strong>Contactanos</strong> ptybrothers@gmail.com fj_bro@hotmail.com leonardoluxburg@gmail.com</p> </li>
    </ul>
  </div>
</div>
</div>
<br>
<br>
</div>
