<div class="about padded">
  <br>
  <br>
  <br>
  <br>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <%= image_tag("logo1.png")%>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled">
      <h2>PTY Brothers</h2>
      <li><p><strong>Founder</strong> Francisco J. Dutary</p></li>
      <li><p> <strong># Phone</strong> 6666-1442</p></li>
      <p><strong> Ptybrothers </strong>es un movimiento que fue creado con el principal motivo de mantener la escena de los deportes extremos viva en Panamá. Nuestro objetivo es brindar apoyo a riders mediante material audiovisual de alta calidad que demuestre su talento, poniendo así a Panamá en el mapa de los deportes extremos.</p>
      <li><p><strong>Contactanos</strong> ptybrothers@gmail.com </p> </li>
    </ul>
  </div>
</div>
</div>
<br>
<br>
</div>
