<div class="about padded"">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <%= image_tag("logo.png")%>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled">
      <h2>PTY Brothers</h2>
      <p><strong> Ptybrothers </strong>es un movimiento que fue creado con el principal motivo de mantener la escena de los deportes extremos  viva en panama, nuestro objetivo es brindar apoyo a la riders mediante material audiovisual de alta calidad que demuestre su talento, poniendo asi a Panama en el mapa de los deportes extremos. Buscamos que se reconosca el talento que tienen los riders de este pais dandoles la oportunidad que creer profecionalmente como deportistas y a su vez sean apoyados por marcas nuevas y activas en la escena de los deportes extremos.</p>
      <li><p><strong>Contactanos</strong> ptybrothers@gmail.com</p></li>
    </ul>
  </div>
</div>
</div>
<br>
<br>
</div>
