<div class="text-center" style="padding-bottom: 40px;">
  <h1>Eventos</h1>
</div>
<div class="events text-center"">
<h2>PTYBrothers Slide Jam II UnderParty</h2>
 <br>
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled">
        <h3>Informacion</h3>
        <li><p><strong>Ubicación: </strong>Secret Spot El valle de Anton</p></li>
        <li><p><strong> Fecha: </strong> 22 de Julio 2017</p></li>
        <li><p><strong>Hora: </strong>10:00 pm </p></li>
        <li><p><strong>Inscripción: </strong>5$</p></li>
        <li><p><strong>Descripción: </strong>Noche under junto a los mejores DJ's de torque en Panama.</p></li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
 <h2>PTYBrothers Slide Jam II</h2>
 <br>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul class="list-unstyled">
        <h3>Informacion</h3>
        <li><p><strong>Ubicación: </strong>Cerro las nubes, el Valle de Anton</p></li>
        <li><p><strong> Fecha: </strong> 23 de Julio 2017</p></li>
        <li><p><strong>Hora: </strong>10:00 am a 5:00 pm</p></li>
        <li><p><strong>Inscripción: </strong>15$</p></li>
         <li><p><strong>Descripción: </strong>10 Categorias  Inscripciones abiertas para hombres y mujeres Premios para los mejores riders. </p></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6" >
      <%= image_tag("slidejam.png")%>
    </div>
  </div>
</div>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
