<div class="text-center" style="padding-bottom: 40px;">
  <h1>Eventos</h1>
</div>
<div class="events text-center"">
 <br>
 <br>
 <h2>Jobo house Downhill fest</h2>
 <br>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul class="list-unstyled">
        <h3>Informacion</h3>
        <li><p><strong>Ubicación: </strong>Altos del Jobo, La Chorrera</p></li>
        <li><p><strong> Primer Día: </strong>Sabado 3 de Junio</p></li>
        <li><p><strong>Hora: </strong>12:00 am a 6:00pm</p></li>
        <li><p><strong> Segundo Día: </strong>Domingo 4 de Junio</p></li>
        <li><p><strong>Hora: </strong>8:30 am a 4:20 pm</p></li>
        <li><p><strong>Inscripción: </strong>15$ SABADO Y DOMINGO // 10$ DOMINGO</p></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag("jobo.jpg")%>
    </div>
  </div>
</div>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
