<div class="text-center" style="padding-bottom: 40px;">
  <h1>Videos</h1>
</div>

<div class="container">
  <div class="row">
    <div class ="text-center">
      <div class="col-xs-12">
        <h2>Bullshit</h2>
        <h3>Cuti Valdez</h3>
        <h4>Location: Yeguada</h4>
        <blockquote class="embedly-card"><h4><a href="https://youtu.be/y-1CjBuQBJc">Bullshit - Cuti Valdes</a></h4><p>spot: La Yeguada song: Bullshit -Dune Rats</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class ="text-center">
      <div class="col-xs-12">
        <h2>Skatepark Sesh</h2>
        <h3>Santiago</h3>
        <h4>Location: CC3 Skate park</h4>
        <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=VdnENVNQEzc">Best of Santiago at Skatepark CC3</a></h4><p>Uploaded by PTY Brothers on 2017-04-03.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class ="text-center">
      <div class="col-xs-12">
        <h2>Downhill Raw Run</h>
        <h3>Toto Espino</h3>
        <h4>Location: Yeguada</h4>
        <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=XVKmPlBmP34">Toto Espino downhill Raw Run</a></h4><p>spot: Santa Rosa film: Panchito Dutary PTYBROTHERS TEAMRIDER</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      </div>
    </div>
  </div>
</div>
<br>
<br>
